
@import url(https://fonts.bunny.net/css?family=allura:400|cutive-mono:400);

body {
  font-size: 12pt;
  max-width: 400px;
  margin: auto;
  padding: 5px;
}

tei-body { 
  font-size: 12pt;
  max-width: 400px;
  margin: auto;
  padding: 5px;
  color: white;
  
}

tei-head {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 5px;
  font-family: 'Allura', handwriting;
  background-color: navajowhite;
}

tei-head tei-persname {
  font-variant: normal;
}


tei-p {
  padding-top: 0px;
  display: block;
}

tei-persname {
  font-variant: small-caps;
  color:  rgb(59, 65, 82);
}

tei-div {
  display: block;
  padding: 10px;
  padding-left: 10px;
  border: solid 0.5pt;
  margin-bottom: 10px;
  background-color: rgb(136, 129, 118);
}

tei-div[type="manuscrito"] { 
  font-family: 'Allura', handwriting;
}

tei-div[type="impreso"] {
  font-family: 'Cutive Mono', monospace;
 font-size: 70%;
text-align: center;
}


tei-foreign {
  text-decoration: underline;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-small;
}

tei-abbr {
  display: none;
}


tei-corr {
  color: rgb(195, 0, 255);
  font-weight: bold;
}

tei-del {
  color: blueviolet;
  text-decoration: line-through;
}

tei-add {
  color: darkolivegreen;
}

tei-gap {
  background-color: black;
}

tei-gap::before {
  content: " ";
  white-space:  pre; 
}

tei-lb::before {
white-space: pre;
content: "\A";
}

tei-signed {
  font-size: 110%;
  background-color: rgb(67, 86, 92);
  font-family:'Courier New', Courier, monospace
}

tei-date { background-color: rgb(81, 115, 126);;

}

tei-title {
  font-weight: bold;
  color: rgb(29, 36, 49);

}